
<% include layouts/header %>
<main >
    <div class="container">
         <% include layouts/mid %>
         <div class="clear"></div>
            <div class="center-container " style="margin:3em auto;">
                    <h1 class="content-title">Sell on Tastymeal</h1>
                    <div class="container">
                        <div class="container">
                            <div class="">
                                <p class="para c-para"> Selling Online on Amazon is the easiest, the most convenient and an inexpensive way of starting a business online. As an Amazon seller, you can create an account for free, list your products, start selling online and increase your sales and profit using our easy to use platform. On Amazon, you also get the fast payments, directly into your account</p>
                                <p class="para c-sub-title c-para">Amazon’s global presence, 20+ years of experience and deep e-commerce knowledge help educate, equip and empower Indian sellers to grow their businesses. It gives you the flexibility of selling your products from any corner of the country to buyers near and far. Amazon provides help, trainings, guidance videos, webinars, workshops and complete seller support to cover all your selling needs</p>
                                <p class="para c-para">Our third party ‘Service Providers Network’ & ‘Amazon Trained E-Commerce Specialists (ATES)’ help you with account setup, product photo shoots, cataloguing support, account management and logistics. Our exclusive solutions like ‘Fulfilment by Amazon (FBA)’, ‘Sponsored Products’ and ‘Global Selling’ help you expand and grow your business in India and internationally</p>
                                <p class="para c-sub-title c-para">Amazon’s global presence, 20+ years of experience and deep e-commerce knowledge help educate, equip and empower Indian sellers to grow their businesses. It gives you the flexibility of selling your products from any corner of the country to buyers near and far. Amazon provides help, trainings, guidance videos, webinars, workshops and complete seller support to cover all your selling needs</p>

                            </div>
                        </div>
                    </div>
            </div>
    </div>
</main>


<% include layouts/footer %>