
<% include layouts/header %>
<main >
    <div class="container">
         <% include layouts/mid %>
         <div class="clear"></div>
         <% include layouts/howitworks %>
    </div>
</main>


<% include layouts/footer %>