
<% include layouts/header %>
<style>
*{
     color: #676767;
}
</style>
<main >
    <div class="container">
        <div class="center" style="height:30em;">
            <div class="img-center">
                <div class="img">
                    <img src="/images/resourceslider.jpg" alt="">
                </div>
            </div>

        </div>

        <div class="center-container success-stories-c" id="r-stories">
             <div >
                    <h2 class="content-title">Success Stories</h2>
                    <div class="row">
                    <!-- Divider -->
                        <div class="four columns">
                            <h3>Topic Headling here bla bla</h3>
                            <p>''When we get orders on Amazon, they come from places we haven’t even heard of. Forget the name of the cities, we can’t even recognise the names of the people who order, surnames we have never come across. That was enjoyable as well.''</p>
                            <span>Seller Name </span><a href="#">SellerShop.com</a>
                        </div>
                    <!-- Divider -->
                        <div class="four columns">
                            <h3>Topic Headling here bla bla</h3>
                            <p>''When we get orders on Amazon, they come from places we haven’t even heard of. Forget the name of the cities, we can’t even recognise the names of the people who order, surnames we have never come across. That was enjoyable as well.''</p>
                            <span>Seller Name </span><a href="#">SellerShop.com</a>
                        </div>
                    <!-- Divider -->
                        <div class="four columns">
                            <h3>Topic Headling here bla bla</h3>
                            <p>''When we get orders on Amazon, they come from places we haven’t even heard of. Forget the name of the cities, we can’t even recognise the names of the people who order, surnames we have never come across. That was enjoyable as well.''</p>
                            <span>Seller Name </span><a href="#">SellerShop.com</a>
                        </div>
                    </div>
              </div>
        </div>

    </div>
</main>


<% include layouts/footer %>