
<% include layouts/header %>
<style>
*{
     color: #676767;
}
</style>
<main >
<div class="container">
    <div class="center" style="height:30em;">
            <div class="img-center">
                <div class="img">
                    <img src="/images/food.jpg" alt="">
                </div>
            </div>
                <div class="option-center">
                <div class="sub-content">
                    <a href="#r-benifits">Benifits</a>
                    <a href="#r-pricing">Pricing</a>
                    <a href="#hiw">How it works</a>
                    <a href="/faq">FAQs</a>
                </div>
            </div>

    </div>
     <div class="center-container s-inventory" id="s-invntry">
                <div >
                    <h2 class="content-title" >Store Your Product With Us</h2>
                </div>
                <div class="row">
                     <h2 class="sub-title c-sub-title" >Keep Your Product safe And Healthy With Us</h2>
                    <div class="eleven columns">
                        <div class="container">
                            <p class="para c-para">Fulfillment by Tastymeal (FBA) helps you increase your online sales by giving you access to Tastymeal’s world-class fulfillment resources, fast, free delivery options for your products, and trusted and acclaimed customer service. Simply send your products to an Tastymeal fulfillment center, and we’ll store your inventory, pick, pack and ship your orders across India and provide customer service.</p>
                            <p class="para c-para">When you join FBA your offers become more visible and more competitive: your FBA products are eligible for One Day Delivery, Free Delivery options so you gain access to millions of our loyal customers. FBA may also help you compete for the Buy Box which appears with the “Add to Cart” option when customers click on a product they wish to buy. In a recent Tastymeal survey done in 2014 among FBA Sellers in India, 86% reported enjoying a sales increase after they started using FBA</p>
                        </div>
                    </div>
                    <div class="eleven columns">
                        <div class="container">
                            <h5  class=" c-para">Apply For Tastymeal inventory Service</h5 >
                            <div class="div-center">
                                <button type="">Apply </button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <h2 class="sub-title c-sub-title" >Steps And Benifits Of Our Inventory</h2>
                    <!-- divider line -->
                    <div class="row">
                        <div class="five columns">
                            <div class="row">
                                <div class="eleven columns">
                                    <h4 class="content-title">Steps</h4>
                                </div>
                                <div class="eleven columns">
                                      <p class="para c-para">We store your inventory and take care of shipping to your customers saving you time so that you can focus on your business.</p>
                                </div>
                                <div class="eleven columns">
                                      <p class="para c-para">With FBA, we support customer service and returns for products sold on Amazon.in. Your products will be eligible for Free Delivery options available with Amazon. You can also easily send your products to Amazon’s fulfillment centers using Amazon trained transporters who can pick up products from your doorstep.</p>
                                </div>
                                <div class="eleven columns">
                                      <p class="para c-para">We store your inventory and take care of shipping to your customers saving you time so that you can focus on your business.</p>
                                </div>
                            </div>


                        </div>
                        <div class="three columns">
                            <div class="row">
                              <!-- one divider -->
                                <div class="eleven columns">
                                    <div class="div-center">

                                    </div>
                                </div>
                            <!-- one divider -->
                                <div class="eleven columns">
                                    <div class="div-center">
                                        <img src="/images/focus.jpg" alt="">
                                    </div>
                                </div>
                             <!-- one divider -->
                                <div class="eleven columns">
                                    <div class="div-center">
                                        <img src="/images/invntory-benifits2.png" alt="">
                                    </div>
                                 </div>
                             <!-- one divider -->
                                <div class="eleven columns">
                                    <div class="div-center">
                                        <img src="/images/lock.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="four columns">
                            <div class="row">
                                <div class="eleven columns">
                                     <h4 class="content-title">Benifits</h4>
                                </div>
                                 <div class="eleven columns">
                                    <br/>
                                      <p class="para para-bold c-para">Focus on your business</p>
                                    <br/>
                                </div>
                                <div class="eleven columns">
                                    <br/>
                                      <p class="para para-bold c-para">Customers keep coming back for more</p>
                                    <br/>
                                </div>
                                <div class="eleven columns">
                                    <br/>
                                      <p class="para para-bold c-para">Focus on your business</p>
                                    <br/>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
        </div>
          <div class="center-container pricing-c" id="r-pricing">
            <div class="pricing-table">
                <h2 class="content-title"> Storage pricing</h2>
                    <div class="container">
                        <div class="container">
                            <div class="row">
                                <div class="eleven columns">
                                    <p class="para  c-sub-title"> <strong>Please</strong>  click <a href="">here</a>  for a summary of fee change effective from July 1st and 15th 2018.
                                        Minimum chargeable weight is 500 gms. In case of items that weigh more than 500 gms, you will be charged in multiples of the price applicable for each 500 gms. For example, the tastymeal Easy Ship Fees for 800 gms package being shipped to a regional location will amount to Rs.68 i.e. Rs.45 (charge for first 500 gms) + Rs. 23 (charge for next 500 gms).

                                        tastymeal Easy Ship Fees is computed on volumetric or actual weight, whichever is higher. Volumetric weight is calculated as Volumetric Weight (kg) = (Length x Breadth x Height)/5000 where LBH are in cm.

                                        All listed fees are displayed excluding taxes. We will apply 18% Goods and Services Tax (GST) to all fees displayed above.

                                        The figures (including fees, revenue and profits) below are only an estimate and actual figures may vary. tastymeal hereby disclaims any and all liability and assumes no responsibility whatsoever for consequences resulting from your use or reliance upon this information.</p>
                                </div>
                            </div>
                        </div>
                        <table class="u-full-width">
                            <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>WEIGHT SLAB</th>
                                        <th>LOCAL (INTRACITY)IN RS.</th>
                                        <th> ZONAL (INTRAZONE)IN RS.</th>
                                        <th>NATIONAL (INTERZONE)IN RS</th>
                                    </tr>
                            </thead>
                            <tbody>
                                 <tr>
                                        <th>1</th>
                                        <th>0.0 Kg - 0.5 Kg ( For every 0.5 kg )</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                 </tr>
                                  <tr>
                                        <th>2</th>
                                        <th>0.0 Kg - 0.5 Kg ( For every 0.5 kg )</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                 </tr>
                            </tbody>
                        </table>
                    </div>


            </div>
        </div>
         <% include layouts/howitworks %>
</div>
</main>
<% include layouts/footer %>