

<% include layouts/header %>
<% include layouts/topFilterBar %>



<div class="alignment-container" style="padding:9em 0 ">
    <div class="product-content-div">
        <h1>product</h1>
        <h2>hello 6E</h2>
    </div>
</div>

<% include layouts/footer %>