
<% include layouts/header %>
<style>
*{
     color: #676767;
}
</style>
<main >
<div class="container">
    <div class="center" style="height:30em;">
            <div class="img-center">
                <div class="img">
                    <img src="/images/food.jpg" alt="">
                </div>
            </div>
            <% include subcontent %>
    </div>
           <div class="center-container s-advertize" id="s-advtz">
                <div >
                    <h2 class="content-title" >Advertise With Us</h2>
                </div>
                <div class="row">
                    <h2 class="sub-title ">Our Policy</h2>
                    <p class="para">Technical documentation lives hereRead the Docs simplifies <span>  software documentation  </span>  by automating building, versioning, and hosting of your docs for you.Free docs hostingWe will host your documentation for free forever. There are no tricks. We help 85,081 open source projects share their docs.ebhooks Whenever you push code to your favorite version control system, whether that is Git, Mercurial, Bazaar, or Subversion, we will automatically build your docs so your code and documentation are never out of sync.</p>
                    <p class="para"><span> Multiple formats  </span> Of course we build and host your <span>  docs for the web  </span> , but they are also vieweable as PDFs, as single page HTML, and for eReaders. No additional configuration is required.Multiple versions We can host and build multiple versions of your docs so having a 1.0 version of your docs and a 2.0 version of your docs is as easy as having a separate branch or tag in your version control system.</p>
                    <p class="para">Faith of investors Snapdeal has partnered with several global marquee investors and individuals such as SoftBank, BlackRock, Temasek, Foxconn, Alibaba, eBay Inc., Premji Invest, Intel Capital, Bessemer Venture Partners, Mr. Ratan Tata, among others</p>
                <!-- Divider -->
                    <div class="three columns">
                        <div class="advertising-space">
                            <div class="inner-space-adv">
                                <h1>1</h1>
                            </div>
                        </div>
                    </div>
                <!-- Divider -->
                    <div class="two columns">
                        <div class="advertising-space">
                            <div class="inner-space-adv">
                                <h1>2</h1>
                            </div>
                        </div>
                    </div>
                <!-- Divider -->
                     <div class="six columns">
                        <div class="advertising-space">
                            <div class="inner-space-adv">
                                <h1>3</h1>
                            </div>
                        </div>
                    </div>
                <!-- Divider -->
                     <div class="eleven columns">
                        <div class="advertising-space">
                            <div class="inner-space-adv">
                                <h1>4</h1>
                            </div>
                        </div>
                    </div>
                    <div class="eleven columns">
                        <div class="div-center">
                                <button type="">Advertise My Product</button>
                        </div>

                    </div>
                </div>
        </div>

   </div>


</main>
<% include layouts/footer %>