
<% include layouts/header %>
<style>
*{
     color: #676767;
}
</style>
<main >
    <div class="container">
    <div class="center" style="height:30em;">
            <div class="img-center">
                <div class="img">
                    <img src="/images/food.jpg" alt="">
                </div>
            </div>
            <% include subcontent %>
    </div>
        <div id="hiw" class="how-it-works-container">
        <div class="heading">
             <h1>How It Works</h1>
        </div>
        <div class="body">

            <div class=" row">
                <div class="six columns">
                    <div class="row">
                        <div class="eleven columns">
                            <div class="content">
                                <img src="/images/howitworks3.png"  style="margin: auto;" alt="">
                            </div>
                        </div>
                        <div class="eleven columns">
                            <div class="content  c-left">
                                <span>go there</span>
                                <p>
                                    Prevent data breaches: Cross-Site Scripting (XSS), NoSQL injections, SQL injections, etc.Protect your customers: data exfiltration, account takeovers, brute force attacks, etc. Stop business logic attacks: bad bots, scrapers, shared accounts, signup spam, custom events, etc.Get full visibility: attacks, security scans, suspicious user behaviors, security error peaks, TOR, etc.
                                </p>
                            </div>
                        </div>
                        <div class="eleven columns">
                            <div class="content">
                                <img src="/images/howitworks3.png"  style="margin: auto;" alt="">
                            </div>
                        </div>
                        <div class="eleven columns">
                            <div class="content  c-left">
                                <span>Receive payment from Amazon</span>
                                <p>
                                    Payment is deposited directly into your bank account within 7 days.We deduct fees only after you make a sale and ensure you get timely payments
                                </p>
                            </div>
                        </div>
                        <div class="eleven columns">
                            <div class="content">
                                <img src="/images/howitworks3.png"  style="margin: auto;" alt="">
                            </div>
                        </div>
                        <div class="eleven columns">
                            <div class="content  c-left">
                                <span>Expand globally</span>
                                <p>
                                    Take your products international by selling in the US and EU through Amazon.Take advantage of Amazon's international logistics network for fulfiling your international orders.
                                </p>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="vertical-line"></div>
                <div class="six columns">
                       <div class="row">
                           <div class="eleven columns">
                                <div class="content c-right">
                                    <span>Step 1: Register and list your products</span>
                                    <ul>
                                        <li>
                                            Register your business for free and create a product catalogue. Get free training on how to run your online business
                                        </li>

                                        <li>
                                            Get orders and manage your online business via our top of the line Seller Panel and Seller Zone Mobile App
                                        </li>
                                    </ul>
                                </div>
                           </div>
                           <div class="eleven columns">
                                <div class="content">
                                    <img src="/images/howitworks1.png"  style="margin: auto" alt="">
                                </div>
                           </div>
                           <div class="eleven columns">
                                 <div class="content  c-right">
                                <span>Amazon delivers your orders</span>
                                <p>
                                    Your account comes enabled with Amazon Easy Ship - we pick products from you and deliver it straight to the customer. Enjoy fast and stress-free shipping with a best-in-class experience for your customers.Optionally upgrade to Fulfillment By Amazon - you can store inventory in our fulfillment centers and we will pick and ship products to customers directly. Let us do the heavy lifting while you focus on growing your business</p>
                            </div>
                           </div>
                            <div class="eleven columns">
                                <div class="content">
                                    <img src="/images/howitworks1.png"  style="margin: auto" alt="">
                                </div>
                           </div>
                           <div class="eleven columns">
                                <div class="content  c-right">
                                    <span>Grow your business</span>
                                    <p>
                                        Get customized tips and suggestions to boost your performance and increase your sales.Keep track of your account performance through your personalized performance dashboard and customized reports.24/7 access to help to resolve your queries and help you grow your business.
                                    </p>
                                </div>
                            </div>
                            <div class="eleven columns">
                                  <div class="content">
                                        <img src="/images/howitworks3.png"  style="margin: auto;" alt="">
                                  </div>
                            </div>
                         </div>
                </div>


            </div>










  </div>
    </div>
<main>
<% include layouts/footer %>