
<% include layouts/header %>
<style>
*{
     color: #676767;
}
</style>
<main >
    <div class="container">
    <div class="center" style="height:30em;">
            <div class="img-center">
                <div class="img">
                    <img src="/images/food.jpg" alt="">
                </div>
            </div>
            <% include subcontent %>
    </div>
<div class="center-container pricing-c" id="r-pricing">
             <div class="pricing-free">
                  <h2 class="content-title"> Things From Our Side</h2>
                  <div class="row">
                      <div class="three columns">
                            <div class="pricing-free-images">
                                <img src="/images/truckBenifits.png" alt="">
                                <h1>Servicing</h1>

                            </div>


                      </div>
                       <div class="three columns">
                          <div class="pricing-free-images">
                            <img src="/images/serviceworker.png" alt="">
                            <h1>delivery Till 30 </h1>
                          </div>
                      </div>
                       <div class="three columns">
                            <div class="pricing-free-images">
                                <img src="/images/pickups.png" alt="">
                                <h1>Pickups</h1>
                            </div>

                      </div>
                       <div class="three columns">
                          <div class="pricing-free-images">
                            <img src="/images/referrel.png" alt="">
                            <h1>Referel</h1>
                          </div>

                      </div>
                  </div>
             </div>
            <div class="pricing-table">
                <h2 class="content-title"> Things From Your Side</h2>
                    <div class="container">
                        <div class="container">
                            <div class="row">
                            <div class="four columns">

                            </div>

                            <div class="four columns">
                                <h2 class="para">Find out the Referral Fee for your Product Category</h2>
                                <select class="u-full-width">
                                     <option value="">Please Select the category</option>
                                </select>
                            </div>

                             <div class="four columns">

                            </div>
                            </div>
                            <div class="row">
                                <div class="eleven columns">
                                    <p class="para"> <strong>Please</strong>  click <a href="">here</a>  for a summary of fee change effective from July 1st and 15th 2018.

                            Local rate will be applicable where the pickup and delivery happen in the same city i.e. intra-city pickup and delivery.

                            Regional zone consists of 4 regions. This fees will apply if shipment moves within the same region and the service is not within the same city.
                            <br>
                            <strong>Region 1 </strong>  - (Chandigarh, Delhi, Haryana, Himanchal Pradesh, Jammu and Kashmir, Punjab, Rajasthan, Uttar Pradesh and Uttarakhand)
                            <br>
                            <strong>Region 2 </strong> - (Chhattisgarh, Dadar and Nagar, Diu and Daman, Goa, Gujarat, Madhya Pradesh, Maharashtra )
                            <br>
                            <strong>Region 3 </strong> - (Andaman and Nicobar, Andhra Pradesh, Karnataka, Kerala, Pondicherry, Tamil Nadu, Telangana, Lakshadweep)
                            <br>
                            <strong>Region 4 </strong> - (Arunachal Pradesh, Assam, Bihar, Jharkhand, Manipur, Meghalaya, Mizoram, Nagaland, Odisha, Sikkim, Tripura, West Bengal)
                            National fee will apply if shipment moves across regions.
                            <br>
                            Minimum chargeable weight is 500 gms. In case of items that weigh more than 500 gms, you will be charged in multiples of the price applicable for each 500 gms. For example, the tastymeal Easy Ship Fees for 800 gms package being shipped to a regional location will amount to Rs.68 i.e. Rs.45 (charge for first 500 gms) + Rs. 23 (charge for next 500 gms).

                            tastymeal Easy Ship Fees is computed on volumetric or actual weight, whichever is higher. Volumetric weight is calculated as Volumetric Weight (kg) = (Length x Breadth x Height)/5000 where LBH are in cm.

                            All listed fees are displayed excluding taxes. We will apply 18% Goods and Services Tax (GST) to all fees displayed above.

                            The figures (including fees, revenue and profits) below are only an estimate and actual figures may vary. tastymeal hereby disclaims any and all liability and assumes no responsibility whatsoever for consequences resulting from your use or reliance upon this information.</p>
                                </div>
                            </div>

                        </div>
                        <table class="u-full-width">
                            <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>WEIGHT SLAB</th>
                                        <th>LOCAL (INTRACITY)IN RS.</th>
                                        <th> ZONAL (INTRAZONE)IN RS.</th>
                                        <th>NATIONAL (INTERZONE)IN RS</th>
                                    </tr>
                            </thead>
                            <tbody>
                                 <tr>
                                        <th>1</th>
                                        <th>0.0 Kg - 0.5 Kg ( For every 0.5 kg )</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                 </tr>
                                  <tr>
                                        <th>2</th>
                                        <th>0.0 Kg - 0.5 Kg ( For every 0.5 kg )</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                 </tr>
                            </tbody>
                        </table>
                    </div>


            </div>
        </div>
    </div>
<main>
<% include layouts/footer %>