 <div class="option-center">
                <div class="sub-content">
                    <a href="/sellWithUs/">Benifits</a>
                    <a href="/sellWithUs/pricing">Pricing</a>
                    <a href="/sellWithUs/hiw">How it works</a>
                    <a href="/sellWithUs/delivery">Delivery Info</a>
                    <a href="/sellWithUs/advertise">Advertise</a>
                    <a href="/faq">FAQs</a>
                </div>
            </div>