  <div class="option-center">
                <div class="sub-content">
                    <a href="/inventory">Benifits</a>
                    <a href="/inventory/pricing">Pricing</a>
                    <a href="/inventory/hiw">How it works</a>
                    <a href="/faq">FAQs</a>
                </div>
            </div>