<div>
    <div class="category-container">
        <div class="container-head">
            <h2>Search By category</h2>
        </div>
        <div class="container-body">
            <a href="#" class="category-body">
                <img src="/images/burgerflat.png" alt="">
                <span>Burger</span>
            </a>
            <a class="category-body" href="#">
                <img src="/images/meals.png" alt="">
                <span>Meals</span>
            </a>

            <a class="category-body" href="#">
                <img src="/images/pizzaflat.png" alt="">
                <span>Pizzas</span>
            </a>
            <a class="category-body" href="#">
                <img src="/images/seafoods.png" alt="">
                <span>Sea Foods</span>
            </a>
            <a class="category-body" href="#">
                <img src="/images/icecream2.png" alt="">
                <span>Deserts</span>
            </a>
            <a class="category-body" href="#">
                <img src="/images/nonveg2.png" alt="">
                <span>Non veg</span>
            </a>
            <a class="category-body" href="#">
                <img src="/images/brakfast.jpg" alt="">
                <span>breakfast</span>
            </a>
            <a class="category-body" href="#">
                <img src="/images/veg.png" alt="">
                <span>Veg</span>
            </a>
            <a class="category-body" href="#">
                <img src="/images/milk.png" alt="">
                <span>Dairy</span>
            </a>
        </div>

    </div>



</div>