<div  class="col-md-12 ">
    <div class="center-top">
        <div class="container-fluid bg-2">
            <div class="col-md-5 d-compact">
                <label class="big-label g">Order Food Online</label>
                <br/>
                <label class="big-label ">Please Select Your Location</label>

            </div>
             <div class="col-lg-7">
                <% include location %>
             </div>
          </div>
    </div>

</div>