<script src="https://apis.google.com/js/platform.js?onload=init" async defer></script>
 <script src="/js/jquery-1.12.4.js"></script>
  <script src="/js/jquery-ui.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/js/frontss.js"></script>

  </body>

 <!--<script src="/js/FBLogin.js" async defer></script>
    <script>

     gapi.load('auth2', function() {
        gapi.auth2.init();
      });

    </script>
     <script src="/js/GoogleOauthLogin.js"></script>
    <script src="/js/AuthManager.js"></script>
    -->

    <script src="/js/locationHandling.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script>
          //  if(errors) {
          //     Object.keys(errors).forEach(err => {
          //     toastr.success(err, null)
          //     })}

    </script>
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8BrmWjoDYxC5k6PTRe4hPB4LyiFu6pq8&libraries=places&callback=activatePlacesSearch&region=IN"></script>

</body>
</html>