<footer>

</footer>

    </body>
<script src="/js/jquery-1.12.4.js"></script>
  <script src="/js/jquery-ui.js"></script>
<script>
console.log("qwe");
    $('#resource').click(e =>{
        e.preventDefault();

        $('.submenu-resource').toggleClass('sub-sh');
    })
  $('#o-service').click(e =>{
        e.preventDefault();

        $('.submenu-service').toggleClass('sub-sh');
    })
$('.menu-icon').click(e =>{
        $('#response-menu').toggleClass('menu-open');
})
</script>
</html>