  <div id="hiw" class="how-it-works-container">
        <div class="heading">
             <h1>How It Works</h1>
        </div>
        <div class="body">
            <div class=" row">
                <div class="six columns">
                    <div class="content c-left">
                      <span>Step 1: Register and list your products</span>
                        <ul>
                            <li>
                                Register your business for free and create a product catalogue. Get free training on how to run your online business
                            </li>

                            <li>
                                Get orders and manage your online business via our top of the line Seller Panel and Seller Zone Mobile App
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="vertical-line"></div>
                <div class="six columns">
                     <div class="content">
                        <img src="/images/howitworks1.png"  style="margin: auto" alt="">
                    </div>
                </div>
            </div>


            <div class=" row">
                <div class="six columns">
                    <div class="content">
                        <img src="/images/howitworks3.png"  style="margin: auto;" alt="">
                    </div>
                </div>
                <div class="vertical-line"></div>
                <div class="six columns">
                    <div class="content  c-right">
                      <span>go there</span>
                      <p>
                        Prevent data breaches: Cross-Site Scripting (XSS), NoSQL injections, SQL injections, etc.
Protect your customers: data exfiltration, account takeovers, brute force attacks, etc.
Stop business logic attacks: bad bots, scrapers, shared accounts, signup spam, custom events, etc.
Get full visibility: attacks, security scans, suspicious user behaviors, security error peaks, TOR, etc.
                      </p>
                    </div>
                </div>
            </div>

        </div>


  </div>