<div class="center">
    <div class="img-center">
            <div class="in-center-container">
              <p>Sell On tastymeal</p>
              <a href="/seller/auth/register">
                <button type="" >Register</button>
              </a>
            </div>
            <div class="img">
                <img src="/images/loginBack.jpg" alt="">
            </div>
    </div>
    <div class="banner-center">
        <div class="row">
            <div class="banner-center-content">
                    <h1>Why choose us</h1>
                    <div class="reasons-banner">
                        <div>
                            <img src="/images/icecream2.jpg" alt="">
                            <h3>reasons</h3>
                            <p>Sell 24x7 across6000 cities and towns</p>
                        </div>
                    </div>
                    <div class="reasons-banner">
                        <div>
                            <img src="/images/icecream2.jpg" alt="">
                            <h3>reasons</h3>
                            <p>Millions of users and 3,00,000 sellers across India</p>
                        </div>
                    </div>
                    <div class="reasons-banner">
                        <div>
                            <img src="/images/icecream2.jpg" alt="">
                            <h3>reasons</h3>
                            <p>39,000
Pin codes reached</p>
                        </div>
                    </div>
                    <div class="reasons-banner">
                        <div>
                            <img src="/images/icecream2.jpg" alt="">
                            <h3>reasons</h3>
                            <p>Quick payments and
transparent processes</p>
                        </div>
                    </div>
            </div>

        </div>
    </div>

</div>