<div class="navbar">
    <div class="container">
        <div class="row">
            <div class="three columns">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.jpg" alt="">
                    </a>

                </div>
                <div class="menu-icon">
                    <img src="/images/menu.png" alt="">
                </div>
            </div>
            <div class="nine columns " id="response-menu">
                <div class="nav-link row">
                    <div class="three columns">
                       <a id="o-service">Our Services</a>
                    </div>
                    <div class="three columns">
                        <a href="#hiw">How it works</a>
                    </div>
                    <div class="two columns">
                         <a id="resource">Resource</a>
                    </div>
                    <div class="two columns">
                         <a href="/faq">FAQs</a>
                    </div>
                    <div class="two columns">
                         <a href="/seller/auth/login">Sign In</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<% include submenu %>