<div>
    <div class="category-container">
        <div class="container-head g">
            <h2>Order On Tastymeal</h2>
        </div>
        <div class="container-body">
            <a onclick="redirectTotiffin()" class="category-body">
                <img class="icon-svg cat-list" src="/images/icon/tiffin.svg" alt="">
                <span>Tiffin</span>
            </a>
            <a  onclick="redirectToinstant()"  class="category-body" href="#">
                <img class="icon-svg cat-list" src="/images/icon/delivery-truck.svg" alt="">
                <span>Instant</span>
            </a>

            <a class="category-body" href="#">
                 <img class="icon-svg cat-list" src="/images/icon/breakfast.svg" alt="">
                <span>Milk and daily</span>
            </a>
            <a class="category-body" href="#">
                <img class="icon-svg cat-list" src="/images/icon/groceries.svg" alt="">
                <span>Grocery</span>
            </a>

            <a class="category-body" href="#">
                <img class="icon-svg cat-list" src="/images/icon/cargo.svg" alt="">
                <span>Bulk Order</span>
            </a>
            <a class="category-body" href="#">
                <img class="icon-svg cat-list" src="/images/icon/present.svg"  alt="">
                <span>Party Order</span>
            </a>
            <a class="category-body" href="#">
                <img class="icon-svg cat-list" src="/images/icon/hotel.svg"  alt="">
                <span>Hotels/Motels</span>
            </a>
            <a class="category-body" href="#">
                <img class="icon-svg cat-list"src="/images/icon/beer.svg"  alt="">
                <span>Restaurants</span>
            </a>
        </div>

    </div>



</div>