 <div class="option-center">
                <div class="sub-content">
                    <a href="#r-benifits">Benifits</a>
                    <a href="#r-pricing">Pricing</a>
                    <a href="#r-success-story">Success Story</a>
                    <a href="#r-faqs">FAQs</a>
                </div>
 </div>