<div class="submenu">
   <div class="submenu-container">
       <div class="submenu-resource">
            <ul>

                <li><a href="/resource/#r-stories">Success Stories</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
       </div>
       <div class="submenu-service">
            <ul>
                <li><a href="/sellWithUs">Sell with us</a></li>
                <li><a href="/advertise">Advertise with us</a></li>

                <li><a href="/store">Store Product with us</a></li>
                <li><a href="/service/#s-B2B">Sell to Merchant</a></li>

            </ul>
       </div>
   </div>

</div>