<% include layouts/header %>
<div class="container-fluid bg-2">
    <hr><hr><hr>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading">Register</div>
                 <% if(typeof errors !== 'undefined'){ %>
                    <ul>
                    <% errors.forEach(err =>{ %>
                        <li class="para error-li" ><%= err.msg %></li>
                    <%  }) %>
                    </ul>
                <% } %>
                <% if(typeof successMessage !== 'undefined'){ %>
                    <ul>
                        <li class="para success-li" ><%= successMessage %></li>
                    </ul>
                <% } %>
                <% if(typeof PasswordMatchederrors !== 'undefined'){ %>
                    <ul>
                        <li class="para error-li" ><%= PasswordMatchederrors %></li>
                    </ul>
                <% } %>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="POST" action="/auth/register">
                        <ul>

                        </ul>

                        <div class="form-group">
                            <label for="name" class="col-md-4 control-label">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" name="name"  required autofocus>

                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email" class="col-md-4 control-label">E-Mail Address</label>

                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" required>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mobile" class="col-md-4 control-label">Enter Your Mobile Number</label>

                            <div class="col-md-6">
                                <input id="mobile" type="mobile" class="form-control" name="mobile" required>
                            </div>
                        </div>




                        <div class="form-group">
                            <label for="password" class="col-md-4 control-label">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password"  required>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password-confirm" class="col-md-4 control-label">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include layouts/footer %>