
<% include layouts/header %>
<main >
    <div class="container">
        <div class="registration-center">
            <h2>Register Here</h2>
            <span>Already Registered?<a href="">Login Here</a></span>
            <form>
                <input type="text" class="u-full-width"name="company_name" value="" placeholder="Company Name">
                <input type="email" name="email" class="u-full-width" value="" placeholder="email address">
                <label for="">Write two phone number</label>
                <input type="tel" name="phone_no_1" class="u-full-width" value="" placeholder="write phone number">
                <input type="tel" name="phone_no_2" class="u-full-width" value="" placeholder="write another one">
                <label for="">Company Address</label>
                <textarea rows="" cols="" class="u-full-width"></textarea>
                <label for="">Delivery Pickup Address</label>
                <span> Same as Company Address?</span>
                <textarea rows="" cols="" class="u-full-width"></textarea>
                <input type="password" name="password" class="u-full-width" value="" placeholder="password">
                <input type="submit" name="" value="Register">
            </form>
        </div>
    </div>
</main>


<% include layouts/footer %>